<!DOCTYPE html>
<html>
<head>
  <title>Groupdating</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <style>

  body {
      padding-top: 20px;
  }

  .margin-base-vertical {
      margin: 40px 0;
  }

  </style>
</head>

<body>
	<div class="container-fluid" id="header">
  
  <!-- ========================== HEADER ========================== -->
  
    <div class="row">
      <div class="span3" id="logo">
      <%= image_tag 'socialize.png', width: 150%>
      </div>
	  <div class="span6 nav-menu">
	  </div>
      <nav class="span3 nav-login">
          <a href="auth/facebook" class="btn btn-success md"><span class="icon user"></span>Login/Signup</a>
      </nav>
    </div>
</div>
	
	 <!-- ==========================  YIELD ========================== -->
	 
<%= yield %>



	 <!-- ========================== FOOTER ========================== -->
	 <div class="container-fluid" id="footer">
    <div class="row">
    </div>
</div>
</div>

</body>
</html>
